.footer {
  background-color: $dark-grey;
  padding: 10rem 0;
  font-size: $default-font-size;

  @include responsive(tablet-portrait) {
    padding: 8rem 0;
  }

  &__link {
    &:link,
    &:visited {
      color: $light-grey;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $orange;
    }
  }

  &__list {
    list-style: none;
  }

  &__navigation {
    border-top: 1px solid $light-grey;
    padding-top: 2rem;
    display: inline-block;

    @include responsive(tablet-portrait) {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__contact {
    color: $light-grey;
    text-decoration: none;
  }
}
