.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $orange;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $orange;
    padding: 3px;
    transform: all 0.2s;
  }

  &:hover {
    background-color: $orange;
    color: $default-white;
    box-shadow: 0 1rem 2rem rgba($default-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($default-black, 0.15);
    transform: translateY(0);
  }
}
